header {
    color: $green-text;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.85);
    padding: 10px 50px;
    z-index: 99;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    padding: 1rem;
    div {
        a.logo{
            color: $lightest-slate;
            text-decoration: none;
            letter-spacing: 1px;
            text-transform: capitalize;
        }
    }
    // .logo{
    //     width: 100px;
    //     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 50px 0px;
    // }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            li {
                margin-inline: 15px;
                a{
                    text-decoration: none;
                    color: #ccd6f6;
                    font-size: $fz-xs;
                    font-family: $font-mono;
                    transition: $transition;
                    &:hover{
                        color: $green;
                    }
                    &[active] {
                        color: $green;
                    }
                    span{
                        margin-right: 5px;
                        color: $green;
                    }
                }
            }
        }

    }

    .icon{
        display: none;
    }
    i {
        cursor: pointer;
        font-size: 25px;
    }
}

@media screen and (max-width: 861px) {
    header {
        &.active{
            .nav{
                visibility: visible;
                width: 100vw;
            }
            .openNavbar{
                display: none !important;
            }
            .closeNavbar {

                font-size: 30px;
                display: block !important;
            }
        }
        .nav {
            flex-direction: column;
            right: 0;
            top: 0;
            width: 0;
            visibility: hidden;
            position: absolute;
            background-color: $burger-bg;
            backdrop-filter: blur(5px);
            box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
            height: 100vh;
            justify-content: center;
            transition: 0.2s;
            ul{
                width: 100%;
                row-gap: 5vh;
                flex-direction: column;
                li{
                    margin: 0;
                }
                a{  
                    font-size: 17px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    transition: $transition;
                    width: 100%;
                    span{
                        margin: 0 0 8px 0;
                    }
                }
            }
            .resume-btn {
                margin-top: 5vh;
            }
        }
        .icon{
            width: 30px;
            color: $green;
            display: block !important;
            z-index: 1;
            .openNavbar{
                
                height: 30px;
                font-size: 30px;
                display: block;
            }

            .closeNavbar{
                display: none;
            }
        }

    }
}  