header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.85);
    padding-inline: 50px;
    transition: $transition;

    &.hideHeader{
        height: 70px;
        transform: translateY(calc( 72px * -1));
    }

    &.showHeader{
        transform: translateY(0);
    }

    .logo{
        width: 80px;
    }


    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            li {
                margin-inline: 15px;
                a{
                    text-decoration: none;
                    color: #ccd6f6;
                    font-size: $fz-xs;
                    font-family: $font-mono;
                    transition: $transition;
                    &:hover{
                        color: $green;
                    }
                    span{
                        margin-right: 5px;
                        color: $green;
                    }
                }
            }
        }
        .resumBtn {
            cursor: pointer;
            color: $green;
            background-color: transparent;
            border: 1px solid $green;
            border-radius: 5px;
            padding: 0.75rem 1rem;
            text-decoration: none;
            margin-left: 15px;
            font-size: $fz-xs;
            font-family: $font-mono;
            transition: $transition;

            &:hover{
                background-color: $green-tint;
            }
        }
    }

}
