main {
    #about {
        font-family: $font-mono;
        background-color: $navy;
        color: $slate;
        padding: 10% 15%;
        height: 100vh;

        h2 {
            display: flex;
            align-items: center;
            color: $lightest-slate;
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }

        h2::after {
            display: block;
            position: relative;
            content: '';
            width: 13rem;
            height: 0.1rem;
            top: 0.2rem;
            margin: 0 1rem;
            background-color: $slate;
        }

        .info {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 3rem;


            p:not(:last-child) {
                padding-bottom: 2rem;
            }

            .profileWrapper {
                border-radius: 0.5rem;
                position: relative;
                width: fit-content;
                height: fit-content;
                z-index: 1;

                img {
                    width: 25rem;
                    border-radius: inherit;
                }
            }

            .profileWrapper::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $green;
                opacity: 0.5;
                border-radius: inherit;
                z-index: 2;
                transition: $transition;
            }

            .profileWrapper::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid $green;
                top: 1.5rem;
                left: 1.5rem;
                border-radius: inherit;
                z-index: -1;
                transition: $transition;
            }

            .profileWrapper:hover::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
                opacity: 0.5;
                border-radius: inherit;
                z-index: 2;
            }

            .profileWrapper:hover::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid $green;
                top: 0.5rem;
                left: 0.5rem;
                border-radius: inherit;
                z-index: -1;
            }

            #devStack {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-evenly;

                li {
                    margin: 0.2rem 0;
                }

                li::before {
                    content: '»';
                    color: $green;
                    margin-right: 0.2rem;
                }
            }
        }
    }
}

/* Social Icons Styles */
.social__icons {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 9999;

    .social__icons__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        .social__links a {
            display: inline-block;
            padding: 10px;

            .social__svg--dimensions {
                width: 20px;
                height: 20px;
                fill: none;
                color: rgb(168 178 209);
                transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
            }

            .social__svg--dimensions:hover {
                transform: translateY(-5px);
                color: #64ffda;
            }
        }

        .social__icons__list::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: rgb(168 178 209);
        }
    }
}