main {
    color: $blue-text;
}

/* Social Icons Styles */
 .social__icons {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 9999;
}
.social__svg--dimensions {
  width: 20px;
  height: 20px;
  fill: none;
  color: rgb(168 178 209);
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.social__svg--dimensions:hover {
  transform: translateY(-5px);
  color: #64ffda;
}
.social__icons__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.social__links a {
  display: inline-block;
  padding: 10px;
}

.social__icons__list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(168 178 209);
} 