$blue-text: blue;
$red-text: red;
$green-text: green;
$navy: #0a192f;
$lightest-slate: #ccd6f6;
$slate: #8892b0;
$green: #45d4b3;
$transition: 0.25s;

$fz-xxs: 12px;
$fz-xs: 13px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xxl: 22px;

$green-tint: rgba(100,255,218,0.1);
$burger-bg: rgba(10, 25, 47, .6);
$font-mono: 'Roboto Mono', monospace;
$tab-height: 42px;
$lightest-navy: #233554;
$light-navy: #112240;
$light-slate: #a8b2d1;
$font-sans: 'Noto Sans', sans-serif;
$apple-system: -apple-system, BlinkMacSystemFont, sans-serif;


// font-wheight
$Fwheight600:600;